body {
    background-color: rgb(242, 242, 242);

    /* align-items: center;
    justify-content: center; */
    
}
#place-order {
    border-style: solid;
    border-color: rgb(60, 85, 97);
    width: 600px;
    /* Align item central */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* ******************* */
    padding: 10px;
}

.margin-child > * {
    margin: 8px;
}

#placeOrder {
    border-radius: 5px;
}